
/*
 * -------------------------------------------------
 * Nextflow config file for genome nexus nextflow implementation.
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the configuration folder and imported under a
 * profile name here.
 *
 */

manifest {
  description = 'Genome Nexus Annotation - Nextflow Implementation'
  homePage = 'https://github.com/mskcc/genomeNexflow'
  mainScript = 'genomeNexflow.nf'
  name = 'GenomeNexflow'
  nextflowVersion = '>=20.01.0'
  version = '1.4.0'
}

params {
  outDir = ""     // Path to output directory, default PWD
  verbose = false        // Enable for more verbose information, default false
  publishDirMode = 'link' // publishDir mode is hard 'link' by default
  outname = "genomeNexusOutput"
  inputDir = ""
}

includeConfig "conf/singularity.config"
includeConfig "conf/juno.config"
includeConfig "conf/containers.config"

trace {
    enabled = true
    file = 'trace.txt'
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}

timeline {
    enabled = true
    file = 'timeline.html'
}

report {
    enabled = true
    file = 'report.html'
}

dag {
    enabled = false
    file = 'dag.pdf'
}

env {
  PYTHONNOUSERSITE = 1
}
