/*
 * -------------------------------------------------
 * Container config 
 * -------------------------------------------------
 * This file defines the docker image used for each process in genomeNexflow.nf
 * -------------------------------------------------
 */

 //------------- Read alignment

 process {
  withName:NexusAnnotateMaf {
    container = "price0416/tempo-nexus:latest"
  }
}
