/*
 * -------------------------------------------------
 * General resource config 
 * -------------------------------------------------
 * General process resources used by default
 * -------------------------------------------------
 */

//------------- Read alignment
 process {
  withName:NexusAnnotateMaf {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  }
}
