/*
 * -------------------------------------------------
 * Juno resource config
 * -------------------------------------------------
 * Process resources for Juno
 * -------------------------------------------------
 */
 process {
  withName:NexusAnnotateMaf {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  }
}
